extends ../layout

block content
  .row
    .span4.offset4
      h1 Users
      ul.unstyled
        for user in users
          li
            strong #{user.name}: #{user.id}
      p
        a.btn.btn-primary.btn-large(href='/users/new')
          i.icon-user.icon-white
          |  New User
        a.btn.btn-large(href='/')
          i.icon-home
          |  Home
