extends ../layout

append css
  != css('users')

block content
  .row
    .span8.offset4
      h1 Users
      ol
        for user in users
          li "#{user.first} #{user.last}: #{user.id}"

      form(action='/users', method='post')
        label First Name
        input(type='text', name='first')
        label Last Name
        input(type='text', name='last')
        br
        button(type="submit", class="btn") Submit
