extends ../layout

block content
  .row
    .well.span4.offset4
      ul.unstyled
        for user in users
          li
            strong #{user.name}: #{user.id}
      p
        a.btn.btn-primary(href='/users/new')
          i.icon-user.icon-white
          |  New User
        a.btn(href='/')
          i.icon-home
          |  Home
