extends ../layout

block content
  .row
    .well.span4.offset4
      form(action=path.pathFor('user.create'), method='post', autocomplete='off')
        input(name='name', placeholder='Bob Smith', type='text', required='required')
        p: button#submit.btn.btn-success(type='submit', data-loading-text='Saving...') Save
