extends layout

block content
  .row.span8.offset2
    img.pull-left(src='/img/frappe.png', alt='logo')
    h1 Frappé
    p.lead.muted
      | Relax and enjoy a frappé. Perhaps you'd like to add some
      a(href=path.pathFor('user.index'))  users
      | ? By the way, you are running in 
      strong= settings.env
      |  mode.
